
{% extends "teacher/layout_teacher.html" %}

{% block title %}
    Teacher
{% endblock %}

{% block main %}

<script>
    var course_code_arr_id = [];
    var course_sec_arr_id = []
    var course_code_x;
    var js_cc = {{cc | tojson}}
    console.log(js_cc)
</script>


<h1  align = "left"> Registered Courses </h1>

<div class="table-responsive">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>Sr. #</th>
            <th>Course Name</th>
            <th>Short Name</th>
            <th>Course Code</th>
            <th>Section</th>
            <th>Semester</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
            {%for i in cc%}
            <tr>
                <td>{{cc.index(i) + 1}}</td>
                <td>{{i['course_name'].title()}}</td>
                <td>{{i['course_short']}}</td>
                <td>{{i['course_code']}}</td>
                <td>{{i['course_sec']}}</td>
                <td>{{i['semester']}}</td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#mark_modal" id="{{cc.index(i)}}" onclick = "cc_save_s({{cc.index(i)}})">Mark Attendence</button></td>
                <script type="text/javascript" language="JavaScript">
                                course_code_arr_id.push("{{i['course_code']}}");
                                course_sec_arr_id.push("{{i['course_sec']}}")

                                function cc_save_s(inp){
                                    course_code_x = inp;
                                    document.getElementById("inner_mark").innerHTML = "Mark Attendence of " + course_code_arr_id[course_code_x];
                                    document.getElementById("atts").value = course_code_arr_id[course_code_x] ;
                                    document.getElementById("atts").setAttribute("readonly","true");
                                    document.getElementById("course_sec").value=course_sec_arr_id[course_code_x];
                                    document.getElementById("course_sec").setAttribute("readonly","true");
                                    document.getElementById("date_box").valueAsDate =  new Date();
                                    document.getElementById("sem_box").value = js_cc[inp]['semester'];

                                }



                </script>

            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>






<div class="modal fade" id="mark_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <legend id="inner_mark">Mark Attendence </legend>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                <form action="/mark_attendence" method="POST" id="mark_form">
                    <div class="form-group" >
                        <label for="atts" >Course Code:</label>
                        <select form="mark_form" autofocus="on" class="form-control"  name="course_c" id="atts" required>

                            {%for i in cc%}
                            <option value = "{{i['course_code']}}" > {{i["course_code"]}} </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group" >
                        <label>Semester:</label>
                        <input class="form-control" autocomplete="off"  name="course_sem" id="sem_box" readonly required />
                    </div>
                    <div class="form-group" >
                        <label for="course_sec">Section</label>
                        <input class="form-control" type="text" required min="1"  id="course_sec" name="course_sec" placeholder="Section"/>
                    </div>

                    <div class="form-group"  >
                        <label for="ch">Duration(Hours)</label>
                        <input class="form-control"  id="ch" type="number" value="1" style="width:100px" required min="1" max="8" pattern="[0-9]" autocomplete="off" name="hours" placeholder="Class hours" size = "50" />
                    </div>
                    <div class="form-group" >
                        <label for="date_box">Date:</label>
                        <input class="form-control" type="date" autocomplete="off"  name="date_class" id="date_box"  required />
                    </div>
                    <div class="form-group">
                        <label for="date_box">Time Limit(minutes):</label>
                        <input class="form-control" id="time_l" type="number" value="5" style="width:100px" required min="5" max="30" pattern="[0-30]" autocomplete="off" name="time_limit" placeholder="time limit" size = "50"  required />


                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="mark_form" >Generate QR</button>

            </div>
        </div>
    </div>
</div>


{% endblock %}
