{% extends "layout.html" %}

{% block title %}
    Active students
{% endblock %}

{% block main %}

<h1  align = "left">Students Registered in my classes for FALL2018</h1>
<br>
<div class="table-responsive" class="card-body">
    <table class="table table-striped table-hover">
        {% if ac[0] %}
        <thead>
            <th>Sr. #</th>
            <th>Student Name</th>
            <th>Roll Number</th>
            <th>Semester</th>
            <th>Batch</th>
            <th>Course</th>
            <th>Course Section</th>


        </thead>
        {% else %}
            <tr><td colspan = "7"><h2>No Students</h2></td></tr>
        {% endif %}
        <tbody>
            {%for i in ac%}
                {%if i%}
                    <tr>
                        <td>{{ac.index(i) + 1}}</td>
                        <td>{{i['student_name'].title()}}</td>
                        <td>{{i['roll_num'].upper()}}</td>
                        <td>{{i['semester']}}</td>
                        <td>{{i['batch']}}</td>
                        <td>{{i['course_code']}}</td>
                        <td>{{i['section']}}</td>



                    </tr>
                {% elif not i %}
                    <tr><td colspan = "7"><h2>No Students</h2></td></tr>

                {%endif%}

            {%endfor%}
        </tbody>
    </table>
</div>





{% endblock %}
