{% extends "layout_teacher.html" %}

{% block title %}
    View
{% endblock %}

{% block main %}

<h1  align = "left"> Registered Courses </h1>

<div class="accordian" id="accordian_courses">
    {%for x in cc%}
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-outline-info btn-lg btn-block" type="button" data-toggle="collapse" aria-expanded="false" data-target="#{{x['course_unique']}}">
                        {{x['course_name'].title()}} - {{x['course_sec']}} - {{x['semester']}}
                    </button>
                </h2>
            </div>
            <div id="{{x['course_unique']}}" class="collapse" data-parent="accordian_courses">
                <div class="card-body">
                    <div class="table-responsive" class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <th>Sr. #</th>
                                <th>Student Name</th>
                                <th>Course Code</th>
                                <th>Section</th>
                                <th>Semester</th>
                                <th>Date</th>
                                <th>Duration</th>
                                <th>Attendence</th>
                            </thead>
                            <tbody>
                                {%for i in ac[cc.index(x)]%}
                                    {%if i%}
                                <tr>
                                    <td>{{ac[cc.index(x)].index(i) + 1}}</td>
                                    <td>{{i['student_name']}}</td>
                                    <td>{{i['student_class']}}</td>
                                    <td>{{i['section']}}</td>
                                    <td>{{i['semester']}}</td>
                                    <td>{{i['class_date_t']}}</td>
                                    <td>{{i['duration']}}</td>
                                    <td>{{i['state']}}</td>
                                </tr>
                                        {%elif not i%}
                                <tr><p>No Attendence Taken</p></tr>

                                    {%endif%}

                                {%endfor%}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    {%endfor%}
</div>




{% endblock %}