{% extends "layout.html"%}

<title>
{%block title%}
About
{%endblock%}
</title>
{%block main%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
    <p class="lead">This is a QR based Attendance System web-app designed For COAL Project Fall-2018.</p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align:center;">Name</th>
                    <th style="text-align:center;">Roll Number</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td style="text-align:center;">M.Hassan Ahmed</td>
                    <td style="text-align:center;">K173654</td>
                </tr>
                <tr>
                    <td style="text-align:center;">Zain Zulfiqar</td>
                    <td style="text-align:center;">K173630</td>
                </tr>
                <tr>
                    <td style="text-align:center;">Taneem Ur Rehman</td>
                    <td style="text-align:center;">K173780</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                  <td colspan = "2" style="text-align:center;"> Special Thanks to Dr.Nadeem Kafi.</td>
                </tr>
                <tr>
                  <td colspan = "2" style="text-align:center;"> Special Thanks to Saad Ismail For List of courses.</td>
                </tr>
            </tfoot>
        </table>
    </div>




    <hr class="my-4">
    <p>
        The Following Programming Languages, Frameworks and Web-tools were used in its creation.
    </p>
    <div align="center" class="list-group">

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Python</h5>
            </div>
            <p class="mb-1">Programming Language used for scripting backend.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                  <h5 align="left" class="mb-1">Flask</h5>
            </div>
            <p class="mb-1">A micro-framework used to handle server connections and login sessions</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                  <h5 align="left"  class="mb-1">Jinja</h5>
            </div>
            <p class="mb-1">For making dynamic HTML web pages</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                  <h5 align="left"  class="mb-1">SQLite</h5>
            </div>
            <p class="mb-1">Used for Managing internal database using PHPlite-framework.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                  <h5 align="left"  class="mb-1">Javascript</h5>
            </div>
            <p class="mb-1">Used for Frontend of Website.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                  <h5 align="left"  class="mb-1">Mit-App inventor</h5>
            </div>
            <p class="mb-1">Used for Development Of Mobile Application.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                  <h5 align="left"  class="mb-1">Heroku</h5>
            </div>
            <p class="mb-1">A free service used to host our web app</small>
        </a>
    </div>



  </div>
</div>
{%endblock%}
