{% extends "layout.html" %}

{%block title%}
Buy Shares
{%endblock%}

{%block main%}

<form action = "/buy" method = "POST">
    <fieldset>
        <legend>Enter Symbol of stock and Quantity to Buy.</legend>
        <div class = "form-group">
            <input autocomplete="on" autofocus class ="form-control" name = "symbol" placeholder="Enter Stock Symbol"/>
        </div>
        <div class="form-group">
            <input class = "form-control" autocomplete="off"min = "1" name="shares" placeholder="No. of Shares"  >
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </fieldset>
</form>
{%endblock%}

