{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <p>Welcome</p>
    <br>
    <div>
        <form action="login/teacher" method="GET" id="teach" >
            <button class="btn btn-primary" type="submit" form="teach" >Teacher - Login</button>
        </form>
    </div>
    <div><br></div>
    <div>
        <form action="login/student" method="GET" id="stud">
            <button class="btn btn-primary" type="submit" form="stud">Student - Login</button>
        </form>
    </div>
{% endblock %}
