{% extends "layout.html" %}
{% block title %}
Sell Stocks
{% endblock %}
{% block main%}

<form action="/sell" method="POST">
    <legend>Select Symbol of Stock and Amount of Stock to Sell.</legend>

    <div class="form-group">

        <select autofocus="on"class="form-control" name="symbol">
            <option disabled selected>Symbol</option>
            {%for i in stack%}
            <option value = "{{i["stock_name"]}}"> {{i["stock_name"]}} </option>
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <input class="form-control" type="number" min="1" autocomplete="off" name="shares" placeholder="No. of Stocks"/>
    </div>
    <button class = "btn btn-primary" type="submit">Sell</button>
</form>

<hr>

<table class = "table table-striped">
    <h2 align="left">Currently Owned Stocks.</h2>
    <thead>
        <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
    </tr>
    </thead>

    <tbody>
        {%for i in stack%}
        <tr>
            <td>{{i['stock_name']}}</td>
            <td>{{i['stock_name']}}</td>
            <td>{{i['stock_quantity']}}</td>
            <td>${{i['stock_price']}}</td>
            <td>${{i['stock_total_price']|round}}</td>
        </tr>
        {%endfor%}
    </tbody>



</table>
{% endblock %}